@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bruno+Ace&family=Gemunu+Libre:wght@800&family=Josefin+Sans:wght@600&family=Lexend:wght@300;500&family=Righteous&family=Sora:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: bottom;
    backdrop-filter: brightness(0.8);
    overflow: hidden;
}
 
h1{
    font-size: 2.5rem;
    color: #fff2f2;
    filter: drop-shadow(2px 4px 6px black);
}
h1, p{
    font-family: 'Baumans', cursive;
    text-align: center;
}
.cont-form{
    font-family: 'Baumans', cursive;
    font-size: 1.5rem;
    text-align: center;

}
.container{
    height: 100vh;
    width: 100%;
    justify-content: center;
    padding-top: 20%;
 
}
.content-body{
    display: flex;
   justify-content: center;
    height: 60%;
    border-radius: 10px;
     
}
.cont-form p{
    font-size: 1.8rem;
}
.cont-form {
    display: grid;
    justify-items: center;
    background: #e9e9e9d9;
    width: 90%;
    border-radius: 10px;
}
.cont-form input{
    width: 80%;
    height: 3rem;
 
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
}
#resultadoPercentual {
    display: none;
}
button{
    margin-bottom: 20px;
    border: none;
    width: 80%;
    border-radius: 10px;
    background: #4a32d9;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
@media(min-width:900px){
    .container{
        padding-top: 5%;
        width: 50%;
    }
    body{
        display: flex;
        justify-content: center;
    }
    
}